{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <h1>Books List ({{ books|length }})</h1>
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('book_new') }}" class="float-right btn btn btn-success">Add new book</a> {% endif %}
    <br><br>
{#    {% trans into 'fr_FR' %}Hello{% endtrans %}#}
    <table class="table table-striped" id="datatable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Author</th>
                 <th>Category</th>
                <th>Added date</th>
                {% if is_granted('ROLE_ADMIN') %}   <th></th> {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.code }}</td>
                <td><a href="{{ path('book_show', {'id': book.id}) }}" >{{ book.title }}</a></td>
                <td>{{ book.author|upper }}</td>
                <td>{{ book.category.name }}</td>
                <td>{{ book.createdAt ? book.createdAt|date('d-m-Y') : '' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('book_edit', {'id': book.id}) }}" ><i class="fas fa-edit"></i></a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
